TELOXIDE_TOKEN='<YOUR_TELEGRAM_BOT_TOKEN>'
APP_TELEGRAM_BOT_TOKEN='<YOUR_TELEGRAM_BOT_TOKEN>'
APP_REDIS_CONNECTION_STRING='redis://localhost:6379/0'
APP_POSTGRES_USER='admin'
APP_POSTGRES_PASSWORD='1234'
APP_POSTGRES_HOST='localhost'
APP_POSTGRES_DATABASE='stocks_tracker'
APP_MONGO_USER=''
APP_MONGO_PASSWORD=''
APP_MONGO_HOST='localhost'
APP_MONGO_PORT='27017'
APP_MONGO_DATABASE='stocks_tracker'
APP_USE_MONGO='false'
APP_ADMIN_USER_PASSWORD='APP_ADMIN_USER_PASSWORD_PLACEHOLDER'
APP_ADMIN_USER_TOKEN='APP_ADMIN_USER_TOKEN_PLACEHOLDER'
APP_E2E_TOKEN='APP_E2E_TOKEN_PLACEHOLDER'
APP_E2E_BACKEND_TARGET_URL='http://localhost:3000'
RUST_BACKTRACE=1
